@model ExampleMvcApp.Models.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Employees";
   
}
<h1>@ViewData["Title"]</h1>

@foreach(var employee in Model.Employees)
{
    <h2>@(employee.FirstName + " " + employee.LastName)</h2>
    <div class="row">
        <div class="col-12 col-xl-3">
            <img class="portrait" src="~/assets/@employee.ProfileImage"  />

        </div>
        <div class="col-12 col-xl-9">
            <span>Bio</span>
            @employee.Bio
        </div>
    </div>
    <br/>
}
